body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#414b56;
}

/* HEADER */

header{
    background:#222;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

.logo{
    color:white;
    font-size:30px;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-size:18px;
}

nav a:hover{
    color:#00bfff;
}

/* MAIN CARD */

.container{
    width:80%;
    max-width:700px;
    margin:40px auto;
    background:rgb(125,70,70);
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,.15);
    padding:30px;
    text-align:center;
}

img{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
}

h1{
    color:#edeef0;
}

h2{
    color:#f3f3f8;
}

ul{
    list-style:none;
    padding:0;
}

li{
    background:#69bb5e;
    color:#000;
    margin:10px;
    padding:12px;
    border-radius:8px;
}

button{
    background:#ffffff;
    color:#000;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
    margin:5px;
    transition:0.3s;
}

button:hover{
    background:#146c43;
    color:white;
}